# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.env

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend-inno/.phpunit.cache
backend-inno/node_modules
backend-inno/public/build
backend-inno/public/hot
backend-inno/public/storage
backend-inno/storage/*.key
backend-inno/storage/pail
backend-inno/vendor
backend-inno/.env
backend-inno/.env.backup
backend-inno/.env.production
backend-inno/.phpactor.json
backend-inno/.phpunit.result.cache
backend-inno/Homestead.json
backend-inno/Homestead.yaml
backend-inno/auth.json
backend-inno/npm-debug.log
backend-inno/yarn-error.log
backend-inno/.fleet
backend-inno/.idea
backend-inno/.nova
backend-inno/.vscode
backend-inno/.zed
backend-inno/.editorconfig
backend-inno/.editorconfig
backend-inno/.env
.env
.DS_Store